*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.app-calc{
    width: 400px;
    height: 650px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 40px 20px 30px 20px; ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
                "screen screen screen screen"
                "clear1 clear pourcent divide"
                "btn7 btn8 btn9 multiply"
                "btn4 btn5 btn6 subtract"
                "btn1 btn2 btn3 add"
                "btn btn0 dot  equal";
}
.btn{
    width: 80px;
    height: 80px;
    background-color: rgba(163, 163, 163, 0.354);
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.btn-operate{
    background-color: #ff9500;
    color: #fff;
    font-size: 30px;
}
.result{
    grid-area: screen;
    background-color: #ffffff;
    color: #000;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 10px;
    margin-bottom:  20px;
    border-radius: 10px;
}
.clear{
    grid-area: clear;
    width: 80px;
    height: 80px;
    background-color: rgba(163, 163, 163, 0.354);
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
     
.clear1{
    grid-area: clear1;
    width: 80px;
    height: 80px;
    background-color: rgba(163, 163, 163, 0.354);
    border: none;
    color: #fff;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.pourcent{
    grid-area: pourcent;
}
.divide{
    grid-area: divide;
}
.btn7{
    grid-area: btn7;
}
.btn8{
    grid-area: btn8;
}
.btn9{
    grid-area: btn9;
}
.multiply{
    grid-area: multiply;
}
.btn4{
    grid-area: btn4;
}
.btn5{
    grid-area: btn5;
}
.btn6{
    grid-area: btn6;
}
.subtract{
    grid-area: subtract;
}
.btn1{
    grid-area: btn1;
}
.btn2{
    grid-area: btn2;
}
.btn3{
    grid-area: btn3;
}
.add{
    grid-area: add;
}
.btn0{
    grid-area: btn0;
}
.dot{
    grid-area: dot;
}
.equal{
    grid-area: equal;
}
.start {
  background-color: rgba(216, 210, 210, 0.694);
}
.btn:hover {
    background-color: rgba(216, 210, 210, 0.694);
}
.btn-operate:hover {
    background-color: #d27d07;
}
.start:hover {
    background-color: #d27d07;
}
